/ - content_for :head do
/   =stylesheet_link_tag "search.scss"

=form_tag root_path, :method => :get, remote: true, :id => "seach_form" do
  .form-group.text-center
    .clearfix.search
      = label_tag "name", "Please enter course to search for: ", :class => "col-xs-4 lab"
      .col-xs-8
        = text_field :name, "", :class => "form-control"
    .clearfix.reqs
      = select_tag "course[area]", options_for_select([ ["Area B","b"],["Area C","c"],["Area D","d"],["Area E","e"],["Area F","f"], ["Area G","g"], ["Area H","h"] ])

      Ethnicity
      = check_box "course", "ethn", {}, true, false

      .checkbox
        %input{:type => "checkbox", :name => "course[writ]"}Writing

      .checkbox
        %input{:type => "checkbox", :name => "course[world]"}World Cultures

      .checkbox
        %input{:type => "checkbox", :name => "course[euro]"}European Traditions
      .checkbox
        %input{:type => "checkbox", :name => "course[quant]"}Quantitative Relationships

    = submit_tag "Submit", :class => "btn btn-primary mybtn"
.list-group

